 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 .container{
  margin: 1rem;
 }
 .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }

 .nav-items>ul{
   list-style-type: none;
   display: flex;
 }
a{
  text-decoration: none;
}
 .nav-items>ul>li {
   padding: 2rem;
   font-weight: 700;

 }
 .nav-items>ul>li :hover{
  color:#e07000; ;
 }
 .logo{
  width:5rem;
 }
 .card{
  width:14rem;
  padding: 0.3rem;
  margin: 0.2rem;
 }
 .card>img{
  width:100%;
  
 }
 .card:hover {
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari 3-8 */
    transform: scale(1.1);
 }
 .card-rating {
  
    padding: 3px;
    border-radius: 3px; 
    margin-top: 1rem;
    color: #EEEEEE;
 }
 .distance{
  margin-left: 7.5rem;
  font-size: 0.7rem;
 }
 .restaurant-list{
  display: flex;
  flex-wrap: wrap;
  gap:1.3rem;
  margin: 1rem;
  
 }
 .description{
  font-size: 0.7rem;
  color: gray;
  margin: 0.4rem; 
  margin-top: 1rem;
 }
 .bg-success {
   background-color: #6dad1f;
 }

 .bg-danger {
   background-color: #e07000;
 }

 .bg-primary {
   background-color: #ffc300;
 }
 .name{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
 }
 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3rem;
   margin: 1rem;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   background-color: #FFBE11;
 }

 .footerText {
   margin: 1rem;
   color: brown;
 }
 .search-container{
  display: flex;
 }
 
 .search-input {
   height: 30px;
   flex-basis: 350px;
   appearance: none;
   background-color: #EEEEEE;
   border: 0px inset rgba(0, 0, 0, 0.4);
   border-radius: 7px;
   outline: none;
   font-size: 16px;
   padding: 5px;
   margin: 1rem;
   width: 25rem;
 }
 .search-btn {
   background-color: #FFBE11;
   color: brown;
   border-radius: 7px;
   border: #FFBE11;
   outline: none;
   font-size: 1rem;
   padding: 0.3rem;
   margin-top: 15px;
   height: 2rem
 }

 .search-btn:hover {
   cursor: pointer;
 }

 .hide {
   display: none;
 }

 .error-msg {
  width: 50px;
    height: 30px;
    font-size: 14px;
    color: #c70039;
 }
 .error-container{
  text-align: center;
 }
 /* Profile Styles */

 .profile-card {
   margin-top:1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:1rem;
 }
.profile-container{
  height: 30rem;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
}
 .profile-img {
   border-radius: 50%;
   width: 15rem;
   height: 15rem;
   
 }

 .profile-bio {
   font-size: 1.1rem;
   text-align: center;
   color: rgb(134, 134, 134);
   padding-top: 20px;
   margin-top: 0;
   margin-bottom: 1em;
 }
 .about-container{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  gap: 2rem;
 }

 /* Blog Repo Styles  */

 .blog-card {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }
 .profile-info{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .blog-followers,
 .blog-repo-count,.followers,.repos {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
   color: #444;
 }
 .blog-list-title{
  height: 5rem;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background: #fff;
    border-radius: 5px;
   padding-top: 1rem;
 }

 .repo-container {
   display: flex;
   flex-direction: column;
   padding: 20px;
 }

 .repo-list-title {
   font-size: 20px;
   margin-top: 10px;
   color: #444;
   margin-bottom: 10px;
 }

 .repo-card {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   border: 1px solid #eee;
 }

 .repo-title {
   font-size: 20px;
   color: #444;
   gap:2rem;
 }

 .repo-title:hover {
   color: #1890ff;
 }

 .repo-bio {
   font-size: 16px;
   color: #999;
 }

 /*Shimmer CSS */
 .shimmer-container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: space-evenly;
 }

 .shimmer-card {
   flex-basis: 250px;
   padding: 10px;
   margin-bottom: 10px;
   border-color: #d3d5df;
   box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
 }

 .shimmer-title {
   width: 60%;
   margin-top: 10px;
 }

 .shimmer-tags {
   width: 80%;
   margin-top: 4px;
 }

 .shimmer-details {
   width: 100%;
   margin-top: 18px;
 }

 .shimmer-container .shimmer-img {
   height: 144px;
   width: 230px;
 }
 .restaurant-summary .shimmer-img {
   height: 144px;
   width: 230px;
 }

 .shimmer-menu-card {
   display: flex;
   justify-content: space-evenly;
   width: 848px;
   padding: 10px;
   margin-bottom: 10px;
   border-color: #d3d5df;
   box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
 }

 .shimmer-item-details {
   width: 438px;
 }

 .shimmer-img-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 118px;
   height: 150px;
 }

 .shimmer-img-wrapper .shimmer-img {
   width: 118px;
   height: 96px;
 }

 .shimmer-img-wrapper .shimmer-btn {
   width: 94px;
   height: 34px;
   margin-top: 10px;
 }

 .shimmer-w60 {
   width: 60%;
   margin-top: 10px;
 }

 .shimmer-w40 {
   width: 40%;
   margin-top: 10px;
 }

 .shimmer-w20 {
   width: 20%;
   margin-top: 4px;
 }

 /*Animation to Shimmer Component Cards */
 .stroke {
   height: 15px;
   background: #777;
 }

 /*Animation to Shimmer Component Cards */
 .stroke {
   height: 15px;
   background: #777;
 }

 .animate {
   animation: shimmer 3s;
   animation-iteration-count: infinite;
   background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
   background-size: 1000px 100%;
 }

 @keyframes shimmer {
   from {
     background-position: -1000px 0;
   }

   to {
     background-position: 1000px 0;
   }
 }
 /* error component css */
 .route-error{
  height: 100vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blueviolet
 }

 .link-styles{
  color:black
 }

 /* Restaurant menu css */
 .menu-container{
  margin: 1rem;
 }
 .restaurant-summary {
   display: flex;
   height: 15rem;
   flex-basis: 100%;
   justify-content: space-evenly;
   align-items: center;
   background-color: #001d3d;
   color: #eee;
   padding: 30px;
 }
 .restaurant-summary-details {
   display: flex;
   flex-direction: column;
   flex-basis: 540px;
   margin: 20px;
 }
 .restaurant-img {
   width: 20rem;
   height: 10rem;
 }
 .svg{
  height: 2rem;
  width: 2rem;
 }

 .restaurant-details {
   display: flex;
   margin-top: 18px;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;
   font-weight: 600;
   padding-bottom: 10px;
   color: inherit;
   font-weight: 600;
   font-size: 16px;
   max-width: 342px;
 }

 .restaurant-rating {
   display: flex;
   align-items: center;
   padding: 0 5px;
   gap: 5px;

 }
 .separation{
  margin-right: 3rem;
  margin-left: 3rem;
 }
 .restaurant-title {
   font-size: 2.8rem;
   font-weight: 300;
 }
 .restaurant-tags {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  opacity: .7;
  font-size: 1.3rem;
}
.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-title-wrap {
  padding: 20px;
}

.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, .45);
  width: 70%;
  letter-spacing: -.3px;
  font-size: 1rem;
}

.menu-items-container {
  margin-top: 30px;
  width: 848px;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 848px;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, .45) 0.5px solid;
}

.menu-item-details {
  display: flex;
  flex-direction: column;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 150px;
}

.menu-item-img {
  width: 7rem;
  height:6rem;
}

.add-btn {
  background-color: #eee;
  color: grey;
  width: 94px;
  height: 34px;
  cursor: pointer;
  outline: none;
  border-color: #eee;
  margin-top: 1rem;
  border-radius: 5px;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 1rem;
  line-height: 1.3;
  color: rgba(40, 44, 63, .45);
  width: 80%;
  letter-spacing: -.3px;
  font-size: 1rem;
  overflow: hidden;
}

.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%
}
/* Login-css */
 .login{
  margin-top: 5rem
} 
h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.login-img{
  height: 4rem;
  width: 4rem;
}

/* offline hooks css*/
.offline-container{
  height: 60%vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offline{
  border-radius: 50%;
  height: 20rem;
  width: 25rem;
  margin-top: 5rem;
}
.offline-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.description{
  text-align: center;
  font-size:1rem ;
}
.online{
  height: 1.5rem;
  width: 1.5rem;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  
   .logo {
     width: 5rem;
   }

   .card {
     flex-basis: 100%;
     flex-wrap: wrap;

   }

   .nav-items>ul>li {
     padding: 0.5rem;
     font-weight: 400;
     font-size: medium;
   }

   .search-input{
    width: 13rem;
   }
 }