 .header{
    display: flex;
    justify-content: space-between;
    margin:2px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 img{
    width: 6rem;
    height: 5rem;
    padding: 0.5rem;
 }
 .nav-items >ul  {
   list-style-type: none;
   display: flex; 
   padding: 2rem;
 }
 .nav-items>ul>li {
   padding: 10px;
 }
 .searchbar{
    width: 20rem;
    height: 1.5rem;
    border-radius: 5px;
 }
 